{% include 'db_serv/index_header.html' %}
<div class="card shadow rounded">
  <div class="row"><!--　行を変える　-->
    <div class="col-sm-4"><!--　col-4の大きさのpanelを3個並べる　-->
      <div class="panel panel-primary">
<center><span style="color: #00ff00; font-size: 32px;"><span style="font-family: 'Noto Sans Japanese-900'; color: #ff0000;"><span style="color: #339966;">プ</span>ロ<span style="color: #cc99ff;">グ</span><span style="color: #ff00ff;">ラ</span><span style="color: #0000ff;">ミ</span>ン<span style="color: #008000;">グ</span>教室</span></span></center>
<ul>
 	<li><span style="font-size: 18px;"><strong><span style="color: #00ff00;"><span style="color: #000000;">Pythonプログラミング講座</span></span></strong></span></li>
 	<li><span style="font-size: 18px;"><strong><span style="color: #00ff00;"><span style="color: #000000;">IoTプログラミング入門</span></span></strong></span></li>
 	<li><span style="font-size: 18px;"><strong><span style="color: #00ff00;"><span style="color: #000000;">Scratchプログラミング入門</span></span></strong></span><span style="font-size: 18px;"><span style="color: #00ff00;"><span style="color: #000000;">
</span></span></span><span style="font-size: 18px;"><span style="color: #00ff00;"></br>
</span>Pythonプログラミング講座を開設しています。最近のPython言語を用いたシステム開発は特にAI（人口知能）の分野を筆頭にあらゆる分野で広がって来ています。その理由は世界中の第１線の研究者、システム開発者達が先端分野で開発競争を繰り広げている間に、成果として構築されたPythonライブラリ群が蓄積されています。その結果としてインターネット上に利用可能な先端分野に関連するライブラリーが簡単に無償で入手出来ることとなり、Python利用が加速度的に広がっているのです。また同時に、我々の日常生活の中ではスマートフォンなどの情報機器が欠かせない時代になり、あらゆる物がインターネットで一瞬の内に繋がるIoT（Internet Of Things）時代へと変貌しています。このような時代に生き抜いて行くにはWeb技術を理解して上手く使いこなすことは大変重要で、その基盤となるプログラミング技術を学び時代を生き抜く知恵やセンスを磨かなければ成りません。但し、学ぶに当たっては、大仰に構えて学ぶのではなく、楽しく遊んでいるうちにプログラミングを習得出来ているような、導入教育が最も大事です。最初に興味を持つことが出来たらしめたものです。自在にプログラミング出来るまでには多少の忍耐と年月が必要なのですが、興味が強ければ乗り越えることが出来るでしょう。自らのアイデアを形に出来れば一瞬のうちに世界に広まって行く時代でもあります。プログラミングを学び次の時代へ踏み出しましょう。受講者の意向・方向性とレベルに応じて対応する個別対応型のプログラミング講座です。挑戦しては如何ですか。各講座￥5,000/月～の教室です。２０２０年度からは小学校でのプログラミング教育が始まるとのこと、プログラミング教育に携わる先生方への実践講座なども準備の予定です。</span></li>
</ul>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">

<center><span style="font-size: 32px; font-family: 'Noto Sans Japanese-900';"><span style="color: #ff00ff;"><span style="color: #008000;">W</span>eb</span><span style="color: #0000ff;">ア</span><span style="color: #ff6600;">プ</span><span style="color: #800080;">リ</span><span style="color: #ff0000;">制作</span></span></center>
<ul>
 	<li><span style="font-size: 18px;"><strong>Pythonアプリ開発
</strong></span></li>
 	<li><strong style="font-size: 18px;">IoTシステム開発
</strong></li>
 	<li><strong style="font-size: 18px;">プログラミング研修・講座の講師
</strong></br>
<span style="font-size: 18px;">インターネット周辺の技術導入やホームページ作成などに苦心されている自営業・小規模企業の方々に向けてWebアプリ開発受託やWeb担当者に向けてのプログラミング研修講座や支援を行っています。筆者は機械メーカにて４０年以上に亘り、一貫して機械システムの開発設計の業務に携わって参りました。プログラミング教育などを含め技術者を育てて参りましたので教育の要点や勘所を押さえており、ソフトウェアエンジニアリングを含めた奥行きのあるコンサルティングが可能です。また、自分なりのビジネスアイデアのWebアプリ開発にチャレンジしつつ、最近の技術進展に追随すべく自身の技術基盤の確立に努めています。お手伝い出来そうなことがありましたらご連絡下さい。</span></li>
</ul>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">

<center><span style="font-size: 32px; font-family: 'Noto Sans Japanese-900';"><span style="color: #339966;">ト<span style="color: #ff6600;">ピ</span></span><span style="color: #993300;">ッ</span><span style="color: #0000ff;">ク</span><span style="color: #ff00ff;">ス</span></span></center></br>

        <span style="font-size: 18px;">筆者のWeb関連システム分野での経験も技術習得もそれなりの年数を経て周辺技術の全貌も整理されて来ましたし、相当の年齢に達して参りました。そろそろ総括に向かうべく集大成としてのWebシステム開発を構想しています。このトピックスではブログという形式でシステム開発の経過を報告することにしました。このホームページも目標とする開発システムの一部なのです。緒についた所であり今後の如何に展開して行くかは不明ではありますが、読者の方々の感想やご意見など頂ければと思っています。</span></br>
 	<span style="font-size: 18px;"><strong>構想のMy_DataBaseソフト</strong></span></br><span style="font-size: 18px;">発想の基本は私自身のすべての（仕事内容の忘備録から日々の私事までを含む）過去の記録のDataBaseシステムなのです。実際にはAccessを利用して整理して来ています。過去の事柄を引っ張り出して参考にする事は経験を重ねるに従って増え続けます。上手く整理して素早く探し物を見つける整理術は永遠のテーマだと思います。蓄積情報が増えて1000件を超えるようになるとその中から探し出すのも面倒になって参ります。習熟してきたWebアプリ開発技術を発展させてサーバ又はクラウド上に設置したMy＿DBを何処からでもアクセス可能で検索機能が充実したものであること、手書きのメモなどSVG機能を備え記事を見たら注目点など記録した時の感覚が蘇るようなAccessを上回るMy DtataBaseなるものの開発に挑戦することとしました。講義資料システム、Blogシステムやメールシステムとの連携など、どのような機能を盛り込むべきかは今後の課題ですが、まずはHTML+SVGをベースとして少しづつ進めて参ります。未だ完成には程遠い状況なのですが開発現状を公開し皆さんのご意見や知恵を拝借できたらありがたいと思った次第です。既に同様のWebアプリも数多くあるとか、自分はこんなことをしているとかご意見下さい。メニューにある記事検索をクリックしてMy_DBを覗いてみて下さい。未だ開発途上ですので機能不足ですしバグも多いと思いますが、開発が進むに従って充実した物に展開させて行く予定です。現状のシステムはGCP（Google Cloud Platform）上のDjangoアプリとして構築しています。事の顛末に付きましてはブログにて順次報告して行く予定です。</span></br>
      </div>
    </div>
  </div>
</div>
<!-- script>
//Websocket
    var uri = 'ws://smartworks.mydns.jp:8008/ws';

    window.onload = function () {
        connection = new WebSocket(uri);
        connection.onopen = onOpen;
        connection.onmessage = onMessage;
    }

    function onOpen(event) {
        console.log("Connect successful!");

        prepareSend('message first');
	prepareSend('message second');
        prepareSend('message third');

    }

    function onMessage(event) {
        //Incoming data
        console.log(event.data);
        addRow(event.data);
    }

    function websocketSend(data) {
        //Send data
        connection.send(data);
    }

    function prepareSend(value) {
        if (value != "") {
            websocketSend(value);
        }
    }

    function addRow(data){
	console.log('from server= ',data);        
    }
</script -->
<script>
// 処理の中身
function firstscript(){
console.log('** Initial Stage');
  var dfd=$.Deferred();
//初回か否かの判定にsessionstorageを使う方法
  var key = 'my_session';
  if(!window.sessionStorage.getItem(key)) {
    // セットされてなければnullなのでこのブロックに入る。
console.log('** Ajax Start and Get all Data Stage');
    window.sessionStorage.setItem(key, 1);

        $.ajax({
            url: "/db_serv/get_combo/",
            data: {
		"message":"**put all data**",
		},
            dataType: 'json'
        })
        .done((data) => {
	    var gDataid=data.no;
　　　　    var gDataA=data.theme;
　　　　    var gDataB=data.bunrui1;
　　　　    var gDataC=data.bunrui2;
　　　　    var gDataD=data.bunrui3;
　　　　    var gDataE=data.day_regist;
　　　　    var gDataF=data.overview;
console.log('theme= ',gDataA);
console.log('bunrui3= ',gDataD);
console.log('end tex');
console.log('**Ajax Returned result=',data);


   var key1 = 'read_data';
   if(!window.sessionStorage.getItem(key1)) {
    // セットされてなければnullなのでこのブロックに入る。
console.log('** read_data Stage');
// 初回なのでsessionStorageのkey1値を格納する
        window.sessionStorage.setItem(key1, 1);

//　ブラウザ表示用データの準備 Dataは既にAjaxによりDBより入手済

	var selA_value="";
	var selB_value="";
	var selC_value="";
	var selD_value="";
	var n_present=0;     //　現在Editor対象のレコードのdispflagの番号
	var k_table=1;       //　Table表示の番号
	var str = selA_value+','+selB_value+','+selC_value+','+selD_value+','+String(n_present)+','+String(k_table);
	var ary = str.split(',');

	var E_selA="";
	var E_selB="";
	var E_selC="";
	var E_selD="";

	var DataA = gDataA.split(';,;', -1);
	var DataB = gDataB.split(';,;', -1);
	var DataC = gDataC.split(';,;', -1);
	var DataD = gDataD.split(';,;', -1);
	var DataE = gDataE.split(';,;', -1);
	var DataF = gDataF.split(';,;', -1);
	var Dataid = gDataid.split(';,;', -1);
	var delflag = gDataid.split(';,;', -1);
	var dispflag = gDataid.split(';,;', -1);
	var nlist=DataA.length;
	for(i=0;i<nlist;i++){
		dispflag[i]=i;
		}
console.log('length A,B,C,D,F=',DataA.length,DataB.length,DataC.length,DataD.length,DataE.length,DataF.length)
  //配列をJSON文字列に変換
  	var js_DataA = JSON.stringify( DataA );
  	var js_DataB = JSON.stringify( DataB );
  	var js_DataC = JSON.stringify( DataC );
  	var js_DataD = JSON.stringify( DataD );
  	var js_DataE = JSON.stringify( DataE );
  	var js_DataF = JSON.stringify( DataF );
  	var js_Dataid = JSON.stringify( Dataid );
        var js_delflag = JSON.stringify( delflag );
        var js_dispflag = JSON.stringify( dispflag );
 	var js_Selbox=JSON.stringify( ary );

  //JSON文字列をセッションストレージに書き込む
  	sessionStorage.setItem( "jsonsA" , js_DataA );
  	sessionStorage.setItem( "jsonsB" , js_DataB );
  	sessionStorage.setItem( "jsonsC" , js_DataC );
  	sessionStorage.setItem( "jsonsD" , js_DataD );
  	sessionStorage.setItem( "jsonsE" , js_DataE );
  	sessionStorage.setItem( "jsonsF" , js_DataF );
        sessionStorage.setItem( "jsonsid" , js_Dataid );
        sessionStorage.setItem( "jsonsfg" , js_delflag );
        sessionStorage.setItem( "jsonsdisp" , js_dispflag );
	sessionStorage.setItem( "jsonsSel" , js_Selbox );
   }
	    dfd.resolve();
        });
   }

// そのほか必要な処理
	return dfd.promise();
}

function escapeHtml(convertString) {
    if (typeof convertString !== 'string') return convertString;
 
    var patterns = {
        '<'  : '&lt;',
        '>'  : '&gt;',
        '&'  : '&amp;',
        '"'  : '&quot;',
        '\'' : '&#x27;',
        '`'  : '&#x60;'
    };
 
    return convertString.replace(/[<>&"'`]/g, function(match) {
        return patterns[match];
    });
};
function unescapeHtml(target) {
    if (typeof target !== 'string') return target;
 
    var patterns = {
        '&lt;'   : '<',
        '&gt;'   : '>',
        '&amp;'  : '&',
        '&quot;' : '"',
        '&#x27;' : '\'',
        '&#x60;' : '`'
    };
 
    return target.replace(/&(lt|gt|amp|quot|#x27|#x60);/g, function(match) {
        return patterns[match];
    });
};



</script>
{% include 'db_serv/footer.html' %}